<div class="container-fluid">
    <h2 class="text-center">Create a Quote</h2>
    <hr>
    <form #quoteForm='ngForm'>
       
        <div class="form-group">
  
            <label for="description">Quote</label>
            <textarea class="form-control" id="description" rows="2" required></textarea>
  
        </div>

        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" author="author" #name='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
              </div>
        </div>

        <div class="form-group">
  
            <label for="publisher">Publisher</label>
            <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.author" publisher="publisher" #publisher='ngModel' required>
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <p>Author is required</p>
              </div>
  
        </div>
        <div class="form-group">
            <label for="completeDate">completeDate</label>
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" completeDate="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
  
        
    </form>
  </div>
